.fullscreenCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 9999; /* 모달이 다른 요소 위에 표시되게 함 */
  pointer-events: auto; /* 배경을 클릭할 수 없게 설정 */
}

.modal {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  width: 24rem; /* w-96에 해당 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; /* 모든 변화에 대해 0.3초의 트랜지션을 적용 */
}

.modal:hover {
  transform: scale(1.05); /* 모달 hover 시 약간 확대 */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* hover 시 그림자 효과를 조금 더 강하게 */
}

.buttonContainer {
  display: flex;        /* Flexbox로 가로 정렬 */
  justify-content: end; /* 버튼들을 가로로 중앙 정렬 */
  gap: 0.5rem;            /* 버튼 간의 간격을 10px로 설정 */
}

/* 기본 버튼 스타일 */
.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #007bff;  /* 기본 색상 (primary) */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button:hover {
  background-color: #0056b3;  /* hover 상태 색상 (primary) */
  border-color: #004085;
  /* 버튼 hover 시 확대 */
  /* transform: scale(1.05);  */
}

.button:focus, .button:active {
  outline: none;
}

.cancelButton {
  background-color: #6c757d; /* btn-secondary에 해당 */
  border-color: #004085;
  color: #fff;
}

.cancelButton:hover {
  background-color: #5a6268; /* hover 시 더 어두운 회색으로 변경 */
  border-color: #26292b;
}

.confirmButton {
  background-color: #007bff;  /* 기본 색상 (primary) */
  border-color: #035cbb;
  color: #fff;
}

.confirmButton:hover {
  background-color: #0056b3;  /* hover 상태 색상 (primary) */
  border-color: #004085;
}

